* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  --dark: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);


  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}


body {
  display: grid;
  place-items: center;
  background: #121214;
  background-image: url(./images/background-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 359px;
  height: 560px;
  margin: auto;
  background: #202024;
  border-radius: 20px;
  box-shadow: 19px 5px 40px #db097d11;
}

.gradient {
  background: url(./images/mask.png);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.broken {
  position: absolute;
  background: #121214;
  z-index: 1;
  width: 98px;
  height: 12px;
  margin-left: 8.3rem;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
}

.ribbon {
  position: absolute;
  z-index: 2;
  width: 78px;
  height: 750px;
  background: linear-gradient(95deg, #ee0083 20%, #fdd543 111.89%);
  top: 0;
  margin-top: -45rem;
  margin-left: 9rem;
}

.conteiner {
  max-width: 358px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: white;
}

.avatar {
  width: 10rem;
  margin: 4.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

p {
  margin: 3rem;
}


ul {
  margin-top: 1rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

ul a {
  transition: 0.3s;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 21%, 100% 79%, 50% 100%, 0 79%, 0 21%);
}

ul a:hover {
  transform: translateY(-8px);
}

li {
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}

li:hover {
  top: -5px;
}


